/* play-regular - latin-ext_latin */
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: asset_url('fonts/play-v7-latin-ext_latin-regular.eot');
  /* IE9 Compat Modes */
  src: local("Play"), local("Play"), asset_url('fonts/play-v7-latin-ext_latin-regular.eot?#iefix') format("embedded-opentype"), asset_url('fonts/play-v7-latin-ext_latin-regular.woff2') format("woff2"), asset_url('fonts/play-v7-latin-ext_latin-regular.woff') format("woff"), asset_url('fonts/play-v7-latin-ext_latin-regular.ttf') format("truetype"), asset_url('fonts/play-v7-latin-ext_latin-regular.svg#Play') format("svg");
  /* Legacy iOS */
}