* {
  box-sizing: border-box;
}

body {
  font-family: Play, sans-serif;
  padding: 0;
  margin: 0;
  font-size: 10px;
  min-height: 100vh;
  &>div:first-of-type {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
}

main {
  flex: 1 0 auto;
}